.baners
    display: none

@media screen and (min-width 40em)
	.baners
		margin-top 2em
		display flex
		justify-content space-around
		align-items center
		flex-wrap wrap
		clear both
		&__item
			margin 0 1em
		&--autos
			figure
				margin 0 1.2em
				max-width 66px
			.size-mediun
				max-width 40px