_gray = #4C4C4C
_gray-nav =#DD2527
_gray-bg = #FBFBFB
_gray80 = #2d2d2d
_gray-border = #C3C3C3
_gray-landi = #777777
_orange = #FF931E
_orangeh = #FFC44F
_gren10 = #FBFEF9
_blue10 = #EDF6FC
_blue = #DD2527
_bluehover = #DD2527
_red-brc = #ED3237
_red-msj = #FF6519
_blue-lovato = #007BFF
_green-zavoli = #26AD79
_neutral = #F3F2F2
_yellow = #ffd323
_white = #FFFFFF
_black = #000