ul,li
	list-style none
	padding 0
a
	text-decoration none

figure, p, h1, h2, h3, h4, h5, h6, img, body
	margin 0
	padding 0
p
	color #666666
img
	width 100%
body
	font-family 'Teko', serif
	background-image url("../img/bg.png")
	display flex
	flex-wrap wrap
	min-height 100vh