@import '_normalize'
@import '_icon-fonts'
@import '_colors'
@import '_components'
@import '_reset'
@import '_home'
@import '_header'
@import '_carrusel-vehiculos'
@import '_mecanica-general'
@import '_equipos'
@import '_repuestos'
@import '_contacto'
@import '_tabs'
@import '_fotos-conversiones'
@import '_footer'
@import '_baners-footer'



// .content-general
// 	// display table
// 	width 100%
// 	background-color rgba(255,255,255,0.5)
// 	padding .7em .7em .7em .7em
// 	box-sizing border-box
// 	&--subtitle
// 		font-family 'Open Sans', sans-serif
// 		font-size .8em
// 		margin-bottom 1em
// 		text-transform uppercase
// 	&--repuestos
// 		display block



